/*
 * 输入型表单统一设置
 */
.input-table {
	width:100%;
	margin-left: 0;
	font-size:12px;
}

.input-table tbody tr td {
	padding:8px 10px;
	border: 1px solid #ccc;
}

.input-table tbody tr .td-thumb .pic {
	max-height:100px;
}

.input-table tbody tr td:nth-of-type(1) {
	width:100px;
}


.input-table tbody tr .vertical-top {
	vertical-align:top;
	padding-left:10px;
	padding-top:10px;
}

.input-table tbody tr td input , .input-table tbody tr td select {
	font-size:inherit;
}

/*
 * form-text 即 input[type=text] 之类的文本框
 * form-select 即 select 菜单框
 */

.input-table tbody tr td .form-text ,
.input-table tbody tr td .form-select ,
.input-table tbody tr td .form-textarea
{
	width: 400px;
	font-size: 12px;
	border:1px solid #ccc;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
}

.input-table tbody tr td .form-text:focus ,
.input-table tbody tr td .form-select:focus ,
.input-table tbody tr td .form-textarea:focus
{
	border-color: #57a3f3;
}

.input-table tbody tr td .form-text ,
.input-table tbody tr td .form-select
{
	height:30px;
}

.input-table tbody tr td .form-textarea {
	height: 120px;
	vertical-align: middle;
	padding: 10px;
}

.input-table tbody tr td .form-text.disabled {
	background-color: #e2e2e2;
	color: #969696;
	cursor: not-allowed;
}

/*
 * 必填项
 */
.input-table tbody tr td > .need {
	color:red;
	font-size:14px;
}

/*
 * 提示
 */
.input-table tbody tr td > .msg {
	color:#999;
	font-size:12px;
	padding-top: 5px;
}

/* 上传图片 start */
.input-table tbody tr .upload-file {
	padding-top: 10px;
}

.input-table tbody tr .upload-file .select-file {
	margin-bottom:10px;
}

.input-table tbody tr .upload-file .preview-file {
	margin-bottom:20px;
}

.input-table tbody tr .upload-file .preview-file .pic {
	max-width:100px;
	margin-right:5px;
	transition:all 0.15s linear;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
}

.input-table tbody tr .upload-file .preview-file .pic:hover {
	transform:translate3d(0px , -3px , 0px);
	-webkit-transform:translate3d(0px , -3px , 0px);
	-moz-transform:translate3d(0px , -3px , 0px);
	-o-transform:translate3d(0px , -3px , 0px);
	-ms-transform:translate3d(0px , -3px , 0px);
	box-shadow: 0 0 1px 0 black;
}

/* 上传图片 end */

.input-table tbody tr .select-address .select-item:nth-of-type(1) {
	margin-top:10px;
}

.input-table tbody tr .select-address .select-item {
    margin-bottom: 10px;
}


.input-table tbody tr td .form-article {
	width:80%;
	min-height:400px;
}

.input-table tbody tr td > .e-msg {
	display: none;
	color: red;
	padding-top: 5px;
}

/* 错误处理 */
.input-table tbody > .error {
	border: 2px solid red;
}

.input-table tbody > .error td {

}

.input-table tbody > .error .form-text {
	/*border: 1px solid rgb(255, 137, 137);*/
}

.input-table tbody > .error .form-text:focus {
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgb(255, 137, 137);*/
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgb(255, 137, 137);*/
	/*box-shadow: none;*/
	/*-webkit-box-shadow: none;*/

}

.input-table tbody > .error td > .msg {
	/*display: none;*/
}

.input-table tbody > .error td > .e-msg {
	display: block;
}

/**
 * ************
 * 多行
 * ************
 */
.input-table tbody tr .multiple-rows {

}

.input-table tbody tr .multiple-rows .row {
	margin-bottom: 5px;
}

/*.input-table tbody tr td > .image {*/
/*	max-width: 200px;*/
/*}*/
