.prompt {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 1000;
    transition: all 0.12s;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
}

.prompt.show {
    opacity: 1;
}

/*.prompt .background {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background-color:black;*/
/*    opacity:0;*/
/*    !*opacity:0.7;*!*/
/*}*/

.prompt > .content {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width:260px;
    background-color: white;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);

    /*opacity: 0;*/
    transform: translate(-50% , -50%) scale(0.6 , 0.6);
    /*transform: translate(-50% , -50%);*/
    transition: all 0.2s;
}

.prompt > .content.show {
    /*opacity: 1;*/
    transform: translate(-50% , -50%) scale(1 , 1);
}

.prompt > .content > * {

}

.prompt > .content .header {
    cursor: move;
    padding: 0 20px;
    height: 43px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
}

.prompt > .content .header > * {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.prompt > .content .header .left {
    font-size: 14px;
}

/*.prompt > .content .header .right {*/
/*    float: right;*/
/*}*/

.prompt > .content .header .action .close {
    border-radius: 5px;
    /*width: 30px;*/
    /*height: 30px;*/
    position: relative;
    cursor:pointer;
    /*background-color: red;*/
    /*opacity: 0.8;*/
    /*transition: all 0.3s linear;*/
    /*-webkit-transition: all 0.3s linear;*/
    /*-moz-transition: all 0.3s linear;*/
    /*-ms-transition: all 0.3s linear;*/
    /*-o-transition: all 0.3s linear;*/
}

.prompt > .content .header .action .close:hover {
    /*background-color: #ddd;*/
    /*color: #808080;*/
    opacity: 0.7;
}

.prompt > .content .header .action .close:active {
    /*background-color: #efefef;*/
}

.prompt > .content .header .action .close .positive {
    width: 10px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    transform: rotateZ(45deg) translate(-50% , -50%);
    -webkit-transform: rotateZ(45deg) translate(-50% , -50%);
    -moz-transform: rotateZ(45deg) translate(-50% , -50%);
    -ms-transform: rotateZ(45deg) translate(-50% , -50%);
    -o-transform: rotateZ(45deg) translate(-50% , -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}

.prompt > .content .header .action .close .negative {
    width: 10px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    transform: rotateZ(-45deg) translate(-50%,-50%);
    -webkit-transform: rotateZ(-45deg) translate(-50%,-50%);
    -moz-transform: rotateZ(-45deg) translate(-50%,-50%);
    -ms-transform: rotateZ(-45deg) translate(-50%,-50%);
    -o-transform: rotateZ(-45deg) translate(-50%,-50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}

.prompt > .content > .message {
    padding: 20px;
    font-size: 14px;
    position: relative;
}

.prompt > .content > .message.icon {
    padding-left: 70px;
}

.prompt > .content > .message .run-iconfont {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 30px;
    display: none;
}

.prompt > .content > .message.icon .run-iconfont {
    display: inline-block;
}

.prompt > .content > .message > .html {

}

.prompt > .content > .actions {
    padding: 0 20px 20px;
    text-align: right;
}

.prompt > .content > .actions > .action {
    display: inline-block;
    padding: 5px 12px;
    color: #555;
    border-radius: 3px;
    cursor: pointer;
    margin-right:8px;
    border: 1px solid #e2e2e2;

    /*border-color: #1E9FFF;*/
    /*background-color: #1E9FFF;*/
    /*color: #fff;*/

    transition: all 0.12s linear;
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -ms-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
}

.prompt > .content > .actions > .action:nth-last-of-type(1) {
    margin-right: 0;
}

.prompt > .content > .actions > .action:hover {
    background-color: #f5f5f5;
}

.prompt > .content > .actions > .action:active {
    background-color: #ececec;
}

.prompt > .content > .actions > .action:nth-of-type(1) {
    background-color: #5FB878;
    color: #fff;
    border-color: transparent;
}

.prompt > .content > .actions > .action:nth-of-type(1):hover {
    background-color: #68c783;
}

.prompt > .content > .actions > .action:nth-of-type(1):active {
    background-color: #6fda8d;
}