.uploader {

}

.uploader .upload {
	border-bottom: 1px solid #ccc;
	position:relative;
	height: 80px;
	line-height: 80px;
}

.uploader .upload .handler {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	cursor: pointer;
	line-height: normal;
}

.uploader .upload .handler:hover .icon .ico .clear {
	transform: translate(-20px , -50%);
}

.uploader .upload .handler .icon {
	text-align: center;
}

.uploader .upload .handler .icon > * {

}

.uploader .upload .handler .icon .ico {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	position: relative;
}

.uploader .upload .handler .icon .ico .iconfont {
	font-size: 40px;
	color: rgba(0,0,0,1);
}

.uploader .upload .handler .icon .ico .feedback {
	width: 50px;
	height: 50px;
}

.uploader .upload .handler .icon .ico .clear {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(100% , -50%);
	transition: all 0.3s linear;
	width: 40px;
	height: 40px;
	line-height: 40px;

}

.uploader .upload .handler .icon .ico .clear .iconfont {
	font-size: 24px;
}


.uploader .upload .handler .icon .text {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.uploader .upload .msg {
	margin-left: 200px;
	font-size: 12px;
	color: #999;
}

/***
 * *********************
 * 文件预览
 * *********************
 */

.uploader .preview {
	padding: 20px;
}

.uploader .preview:after {
	display: block;
	clear: both;
	content: '';
}

.uploader .preview .iconfont {
	font-size: 30px;
}

.uploader .preview .item {
	float: left;
	cursor: pointer;
	margin: 0 20px 20px 0;
	height: 200px;
	min-width: 120px;
	border: 3px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.uploader .preview .item:hover .mask {
	z-index: 1;
	opacity: 1;
}

/**
 * ************************
 * 上传进度
 * ************************
 */
.uploader .preview .item .progress {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.uploader .preview .item .progress .total {
	width: 80%;
	height: 12px;
	border-radius: 10px;
	background-color: #c5c5c5;
	overflow: hidden;
}

.uploader .preview .item .progress .total .current {
	width: 0;
	height: 100%;
	background-color: #ffffff;
	margin: 0;
}

/**
 * *************************
 * 上传状态
 * *************************
 */

.uploader .preview .item .status {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: rgba(0,0,0,0.4);
}

.uploader .preview .item .status .iconfont {
	font-size: 40px
}

/**
 * *******************
 * 文件功能遮罩
 * *******************
 */
.uploader .preview .item .mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0 , 0 , 0 , 0.5);
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	z-index: 1;
	transition: all 0.12s linear;
}

.uploader .preview .item .mask .line {
	width: 50px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.uploader .preview .item .mask .line .iconfont {
	color: #fff;
}


.uploader .preview .file {
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uploader .preview  .file > .inner {
	width: 100%;
	text-align: center;
}

.uploader .preview  .file > .inner .line {
	margin-bottom: 5px;
}

.uploader .preview  .file > .inner .line:nth-last-of-type(1) {
	margin-bottom: 0;
}

.uploader .preview  .file > .inner .text {
	font-size: 12px;
	color: #555;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*** 图片 ***/
.uploader .preview  > .image {

}

.uploader .preview  > .image > .inner {
	max-width: 300px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.uploader .preview  > .image > .inner .image {
	min-width: 100%;
	height: 100%;
	/*position: absolute;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*transform: translate(-50% , -50%);*/
	/*-webkit-transform: translate(-50% , -50%);*/
	/*-moz-transform: translate(-50% , -50%);*/
	/*-ms-transform: translate(-50% , -50%);*/
	/*-o-transform: translate(-50% , -50%);*/
}

/**
 * *********************
 * 公用属性
 * *********************
 */
.uploader .hide {
	display: none !important;
}