/*
 * 更新时间
 * 2017-02-15 10:25:00
 */
/*** 重置样式 ***/

html {
	/* 在某些手机浏览器中：元素点击后默认高亮显示 */
	-webkit-tap-highlight-color:transparent;
	/* 字体默认最小：12px */
	-webkit-text-size-adjust:100%;
	/*font-size: 100px;*/
}

body {
	font-family:微软雅黑;
	font-size: 16px;
}

body , form , div , ul , ol , p , h1 , h2 , h3 , h4 , h5 , h6 , nav , section , header , footer , table , frameset ,iframe , figure {
	margin: 0 auto;
	padding: 0;
	outline: none;
}

h1 , h2 , h3 , h4 , h5 ,h6 {
	/* 默认字体加粗 */
	font-weight: normal;
}

ul , ol {
	/* 列表默认有标示序号的图片 */
	list-style-type:none;
}

b {
	/*font-weight: normal;*/
}

i {
	/*font-style: normal;*/
}

span {
	outline: none;
}

table {
	empty-cells:show;
	border-collapse:collapse;
	table-layout:fixed;
}

/* 设置表格边框（默认无边框） */
table , table thead tr th , table tbody tr td {
	text-align:left;
}

input , select , button , textarea {
	/* 默认是有外边框的 */
	outline:none;
	display: inline-block;
	vertical-align: middle;
	font-family:inherit;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

input[type=text] , input[type=password] , input[type=search] , input[type=number] ,input[type=range] , input[type=email] , textarea {
	border:1px solid #ccc;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
}

input[type=text] ,
input[type=password] ,
input[type=search] ,
input[type=number] ,
input[type=email]
{
	text-indent:12px;
}

textarea {
	padding: 5px;
}

input[type=radio] , input[type=checkbox] {
	vertical-align:middle;
	margin: 0;
	padding: 0;
}

input[type=submit] , input[type=button] , button {
	outline:none;
	border:none;
	background-color:transparent;
	font-family:inherit;
}

textarea {
	/* 默认编辑框是可伸缩的 */
	resize:none;
	outline:none;
}

img {
	/* 所有的行内块元素都是 vertical-align:baseline */
	vertical-align:middle;
	/* IE 中图片元素是有边框的 */
	border:none;
}

video  {
	vertical-align:middle;
}

a {
	/* 连接默认有下划线 */
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	word-wrap:break-word;
}

/* 滚动条设置 */
@media screen and (min-width:751px) {
	::-webkit-scrollbar {
		width:12px;
		height:12px;
	}
}

/* 滚动槽 */
::-webkit-scrollbar-corner ,
::-webkit-scrollbar-track
{
	background-color:rgba(140, 140, 140, 0.15);
}

/* 滚动块 */
::-webkit-scrollbar-thumb {
	border-radius:3px;
	background-color:rgba(58,57,57,0.35);
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
}

::-webkit-scrollbar-thumb:hover {
	background-color:rgba(58,57,57,0.4);
}


/**
 * *****************************
 * 表单填充时，自带的默认样式
 * ****************************
 */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	/*background-color:transparent !important;*/
}

/**
 * ***********
 * 特殊作用类名
 * ***********
 */
.clear-float:after {
	display: block;
	content: '';
	clear: both;
}

.hide {
	display:none !important;
}

.simsun {
	font-family: SimSun;
}

/***
 * ********************
 * 动作反馈-矩形
 * ********************
 */
.run-action-feedback {
	position: relative;
	overflow: hidden;
}

.run-action-feedback .run-iconfont {
	position: relative;
	z-index: 1;
}

.run-action-feedback:hover::before {
	opacity: 1;
}

.run-action-feedback:active::before {
	background-color: rgba(183, 183, 183, 1);
}

.run-action-feedback:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(183, 183, 183, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.12s linear;
	z-index: 0;
}

/***
 * ********************
 * 动作反馈-圆形
 * ********************
 */
.run-action-feedback-round {
	position: relative;
	overflow: hidden;
}

.run-action-feedback-round .run-iconfont {
	position: relative;
	z-index: 1;
}

.run-action-feedback-round:hover::before {
	opacity: 1;
}

.run-action-feedback-round:active::before {
	background-color: rgba(183, 183, 183, 1);
}

.run-action-feedback-round:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(183, 183, 183, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	transition: all 0.12s linear;
	z-index: 0;
}


/**
 * *****************
 * 预制 transform
 * *****************
 */
.run-rotateZ-180 {
	transform: rotateZ(180deg);
}




/*
 * 加粗
 */
.run-weight {
	font-weight:bold;
}


/**
 * ***********
 * 各种风格
 * ***********
 */
.run-line-through {
	text-decoration:line-through;
}


/**
 * *************
 * 悬浮时下划线
 * *************
 */
.run-underline:hover {
	text-decoration:underline;
}

/**
 * *******************
 * 字体大小
 * *******************
 */
.f-12 {
	font-size: 12px !important;
}

.f-13 {
	font-size: 13px !important;
}

.f-14 {
	font-size: 14px !important;
}

.f-15 {
	font-size: 15px !important;
}

.f-16 {
	font-size: 16px !important;
}

.f-17 {
	font-size: 17px !important;
}

.f-18 {
	font-size: 18px !important;
}

.f-19 {
	font-size: 19px !important;
}

.f-20 {
	font-size: 20px !important;
}

.f-21 {
	font-size: 21px !important;
}

.f-22 {
	font-size: 22px !important;
}

.f-23 {
	font-size: 23px !important;
}

.f-24 {
	font-size: 24px !important;
}

.f-25 {
	font-size: 25px !important;
}

.f-26 {
	font-size: 26px !important;
}

.f-27 {
	font-size: 27px !important;
}

.f-28 {
	font-size: 28px !important;
}

.f-29 {
	font-size: 29px !important;
}

.f-30 {
	font-size: 30px !important;
}

/**
 * *****************
 * margin
 * *****************
 */
.m-t--1 {
	margin-top: -1px !important;
}

.m-t--2 {
	margin-top: -2px !important;
}

.m-t--3 {
	margin-top: -3px !important;
}


.m-b-10 {
	margin-bottom: 10px !important;
}

.m-b-12 {
	margin-bottom: 12px !important;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.m-b-30 {
	margin-bottom: 30px !important;
}

.m-r-5 {
	margin-right: 5px !important;
}

.m-r-10 {
	margin-right: 10px !important;
}

/**
 * *****************
 * padding
 * *****************
 */
.p-r-5 {
	padding-right: 5px !important;
}

.p-r-10 {
	padding-right: 10px !important;
}

/**
 * ************
 * vertical
 * ************
 */
.v-a-t {
	vertical-align: top !important;
}

.v-a-m {
	vertical-align: middle !important;
}

.v-a-b {
	vertical-align: bottom !important;
}

/**
 * ************
 * text-align
 * ************
 */
.t-a-l {
	text-align: left !important;
}

.t-a-c {
	text-align: center !important;
}

.t-a-r {
	text-align: right !important;
}

.run-white {
	color: #fff !important;
}

/*** 红色 **/
.run-red {
	color:red !important;
}

/*
 * 绿色
 */
.run-green {
	color:green !important;
}

/*
 * purple
 */
.run-purple {
	color:purple !important;
}

/*
 * 禁用
 */
.run-gray {
	color:#7B7B7B !important;
}

/**
 * 禁用
 */
.run-bg-gray {
	background-color:gray !important;
}


.run-position-relative {
	position: relative;
}

.run-position-fixed {
	position: fixed;
}

.run-position-absolute {
	position: absolute;
}

.run-t-1 {
	top: 1px;
}

.run-t-2 {
	top: 2px;
}

.run-t-3 {
	top: 3px;
}

.run-t--1 {
	top: -1px;
}

.run-t--2 {
	top: -2px;
}

.run-t--3 {
	top: -3px;
}

/**
 * ************
 * 常见尺寸
 * ************
 */
.w-100 {
	width: 100px !important;
}

.w-120 {
	width: 120px !important;
}

.w-150 {
	width: 150px !important;
}

.w-200 {
	width: 200px !important;
}

.w-300 {
	width: 300px !important;
}

.w-400 {
	width: 300px !important;
}

/**
 * 指针
 */
.run-cursor-not-allow {
	cursor: not-allowed !important;
}

.run-cursor-pointer {
	cursor: pointer !important;
}