.run-page {
    font-size: 12px;
    display: inline-block;
}

.run-page:after {
    display: block;
    content: '';
    clear: both;
}

.run-page > * {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.run-page .info {
    height: 30px;
    line-height: 30px;
    padding-right: 8px;
}

.run-page .links {

}

.run-page .links:after {
    display: block;
    content: '';
    clear: both;
}

.run-page .links > * {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.run-page .links .link {
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    /*border-left-color: transparent;*/
    background-color: #fff;
    color: #333;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    cursor: pointer;
    margin-right: -1px;
}

.run-page .links .link:nth-last-of-type(1) {
    margin-right: 0;
}

.run-page .links .cur {
    background-color: #009688;
    color: #fff !important;
    border-color: #009688;
}

.run-page .link:hover {
    color: #009688;
    border-color: #009688;
    z-index: 5;
}

.run-page .go-to {
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #999;
}

.run-page .go-to .page {
    width: 40px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin: 0 8px;
    color: #333;
    font-size: 12px;
}

.run-page .go-to .page:focus {
    border-color: #009688;
}

.run-page .go-to .confirm {
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    color: #333;
    margin-left: 8px;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.3s;
}

.run-page .go-to .step {
    width: 40px;
    height: 24px;
    /*line-height: 30px;*/
    /*vertical-align: top;*/
    margin-top: -3px;
    text-indent: 0;
}

.run-page .go-to .step:focus {
    border-color: #009688 ;
}

.run-page .go-to .confirm:hover {
    color: #009688;
    border-color: #009688;
}